<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>hr.algebra.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>hr.algebra.servlets.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TShirtServlet</servlet-name>
        <servlet-class>hr.algebra.servlets.TShirtServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SweatshirtServlet</servlet-name>
        <servlet-class>hr.algebra.servlets.SweatshirtServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JacketServlet</servlet-name>
        <servlet-class>hr.algebra.servlets.JacketServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PantsServlet</servlet-name>
        <servlet-class>hr.algebra.servlets.PantsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StoreItemsServlet</servlet-name>
        <servlet-class>hr.algebra.servlets.StoreItemsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSerlet</servlet-name>
        <servlet-class>hr.algebra.servlets.AdminSerlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>hr.algebra.servlets.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CashPaymentServlet</servlet-name>
        <servlet-class>hr.algebra.servlets.CashPaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>hr.algebra.servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShoppingHistoryServlet</servlet-name>
        <servlet-class>hr.algebra.servlets.ShoppingHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserProfileServlet</servlet-name>
        <servlet-class>hr.algebra.servlets.UserProfileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TShirtServlet</servlet-name>
        <url-pattern>/t-shirts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SweatshirtServlet</servlet-name>
        <url-pattern>/sweatshirts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JacketServlet</servlet-name>
        <url-pattern>/jackets</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PantsServlet</servlet-name>
        <url-pattern>/pants</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StoreItemsServlet</servlet-name>
        <url-pattern>/storeItems</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSerlet</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/cart/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CashPaymentServlet</servlet-name>
        <url-pattern>/cash/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShoppingHistoryServlet</servlet-name>
        <url-pattern>/shoppingHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserProfileServlet</servlet-name>
        <url-pattern>/userProfile/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
